.background {
    height:100%;
    background: repeating-radial-gradient(
        circle,
        #b01b2e,
        #b01b2e 10px,
        #00873e 10px,
        #00873e 20px
    );
}

body, html {height:100%;}
body {margin: 0;}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-body {
    background-color: #fffa70;
    margin: auto;
    width: 80%;
    height: 100%;
    align-content: center;
}

img.header {
    display: block;
    margin: auto;
    max-width:100%;
    max-height:100%;
}

img.subheader {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    width:60%;
}
